[flake8]
max-line-length = 80
exclude =
    .git
    __pycache__
    */migrations/*.py
indent-size = 2
ignore =
    D101
    D105
    D106
    D107
    E124
    E126
    E127
    E131
per-file-ignores =
    cross_shopper/items/models/__init__.py: F401
    */fixtures/*.py: D103
    */tests/*.py: D102, D104
    */conftest.py: D103
